
<link rel="stylesheet" type="text/css" href="/css/adminProfile.css">

    <div class="main_area_profile">
        <div class="profile_container">
            <div class="navbar_profile">
                <div class="dp_container dp_hover">
                    <div class="img_container ">
                        <i class="profile_pic fa fa-user-circle color_white"></i>
                        <!-- <img class="profile_pic" id="img" src="./imgs/jyoti.jpg" alt="User Image"> -->
                    </div>
                    <!-- <div class="edit_button pencil">
                        <i class="fa fa-pencil-alt  edit_icon" id="pencil_btn"></i>
                        <input type="file" id="change_1" class="change_pic" accept="image/*">
                        <i class="fa fa-trash  edit_icon" id="delete_btn"></i>
                    </div> -->
                </div>
                <div class="profile_options">
                    <a class="profile_tags" href="#personal_info" ><div class="option">Personal Information</div></a>
                    <a class="profile_tags" href="#course"><div class="option">Class Details</div></a>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="dp_container dp_hover responsive_dp">
                <div class="img_container profile_pic">
                    <i class="profile_pic fa fa-user-circle color_pic"></i>
                </div>
                <!-- <div class="edit_button pencil">
                    <i class="fa fa-pencil-alt  edit_icon" id="pencil_btn_1"></i>
                    <input type="file" class="change_pic" accept="image/*">
                    <i class="fa fa-trash  edit_icon" id="delete_btn_1"></i>
                </div> -->
            </div>
            <div class="profile_content" >
                <div class="personal_info" >
                        <div class="edit_info_name table_title">
                            <div class="personal_option_heading" id="personal_info">
                                PERSONAL INFORMATION
                            </div>
                        </div>
                    <div class="edit_container">
                        
                        <div class="edit_info_field">
                            <div class="personal_option">
                                Name:
                            </div>
                          
                            <div class="personal_option">
                                Department:
                            </div>
                            <div class="personal_option">
                                Contact Information:
                            </div>
                        </div>
                        <div class="edit_info_name">
                            <input type="text" class="personal_info_input" disabled value="<%=user.name%>">
                         
                            <input type="text" class="personal_info_input" disabled value="<%=user.dept%>">
                            <input type="text" class="personal_info_input" id="contact_id"  value="<%=user.contact%>" disabled>
                            <div class="submit_container">
                                <input type="submit" class="submit" value="Edit Information" id="submit_personal">
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="underline"></div>
            <div class="courses">
                <div class="edit_info_name table_title" >
                    <div class="personal_option_heading" id="course" >
                        CLASS DETAILS
                    </div>
                </div>
                <form id="link_form">
                    <input type="hidden">
                </form>
                <div class="course_content">
                        
                        <div class="course_details">
                            <%for(let classSub of courseList){%>
                            <div class="sub_name">
                                <input type="hidden" value="">
                                <div class="subject_name"><%=classSub.course.name%> | <%=classSub.class.stream%> <%=classSub.class.passingOutYear%><%if(classSub.group){%> | Group <%=classSub.group.groupNumber%><%}else if(classSub.subGroup){%>Lab Group <%=classSub.subGroup.subGroupNumber%><%}%>:</div>
                                <a target="_blank" href="<%=classSub.link.link%>" class="anchor_class"><div class="class_link links" links-text="Enter link"><%if(classSub.link.link){%><%=classSub.link.link%><%}else{%>No link provided<%}%></div></a>
                            </div>
                            <%}%>
                            
                        </div>
                        <div class="heading_add">
                            <button placeholder="Enter link" value="Edit Links" type = "button" class="add" id="add_course">
                                Edit Links
                            </button> 
                        </div>
                        
                </div>      
            </div>
        </div> 
    
<script src="/js/adminProfile.js"></script>
