<link rel="stylesheet" type="text/css" href="/css/announcements.css">    
    
    <div class="main">
        <%- include('navbar') %>

        <div id="black_screen"></div>

        <div class="main_content">
            <div class="main_heading">
                <div class="heading"> Announcements </div>
                <div class="filters_small">
                    <div>Filters</div>
                    <div><i class="fa fa-filter"></i></div>
                </div>
               
            </div>
            <!-- delete this later -->
            <!-- <% if(user.isAdmin){ %>
            <form method="Post" action="/content/announcements/create">
                <input type="text" name="title">
                <input type="text" name="content">
                <button type="submit">Submit</button>
            </form>
            <% } %> -->
            <div class="box_layout">
                <% if(user.isAdmin){ %>
                    <div class="add" id="addButton">
                        <div class="add_icon"><i class="fas fa-plus"></i></div>
                        <div class="add_content">Add </div>
                    </div>
                    <div class="add_admin">
                        <form method="POST" action="/content/announcements/create">
                            <label for="subject">Subject:</label>
                            <select id="subject" name="subject">
                                <option value="All">All</option>
                                <!-- add all subjects related to teacher here -->
                            </select><br><br>
                            <label for="branch">Branch:</label>
                            <select id="branch" name="branch">
                                <option value="All">All</option>
                                 <!-- add all branches related to teacher here -->
                            </select><br><br>
                            <label for="group">Class Group:</label>
                            <select id="group" name="group">
                                <option value="All">All</option>
                                 <!-- add all groups related to teacher here -->
                            </select><br><br>
                            <label for="sub_group">Lab Group:</label>
                            <select id="sub_group" name="sub_group" >
                                <option value="All">All</option>
                                 <!-- add all subgroups related to teacher here -->
                            </select><br><br>
                            <!-- <label for="title">Title:</label> -->
                            <input type="text" name="title" placeholder="Enter the title" ></textarea><br><br>
                            <!-- <label for="message">Message:</label> -->
                            <textarea name="message" placeholder="Enter the message" rows="5" required=true></textarea><br><br>
                            <div class="submit_button">
                                <button type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                <% } %>
                <% for(let announcement of announcements){ %>

                    <div class="box">
                        <div class="box_heading"> 
                            <div class="subject" >Computer Architecture</div>
                            <div class="title"><%= announcement.title %></div>
                        </div>
                        <div class="box_content">  
                            <div class="box_content_details">
                                <% if(user.isAdmin){ %>
                                    <div class="branch_admin"><b>Branch: ECE-1st Year FIX THIS</b></div>
                                    <div class="group_admin"><b>Class Group: 2 FIX THIS</b></div>
                                    <div class="sub_group_admin"><b>Lab Group: All FIX THIS</b></div>
                                <% } %>      
                                <div class="description"><%= announcement.content %></div>
                                <div class="date_posted">Posted on <%= new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: 'short', day: '2-digit', hour: 'numeric', minute: 'numeric'}).format(announcement.createdAt) %></div>
                                <% if(user.isAdmin){ %>
                                    <div class="buttons">
                                        <div class="buttons_admin">
                                            <div class="edit"><i class="far fa-edit"></i></div>
                                            <a href="/content/announcements/delete/<%=announcement._id%>"><div class="delete"><i class="fas fa-trash"></i></div></a>
                                        </div>
                                        <div class="buttons_admin_save">
                                            <div class="savechanges"><i class="fas fa-save"></i></div>
                                        </div>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                <% } %>
                
            </div>
        </div>
        <div class="filters">
            <div class="filter_name">
                <div class="filter_heading">Subjects:</div>
                <div class="filter_content">
                    <ul class="list">
                        <li class="filter_subject<% if(filterList.courseName=="All"){ %> selected <% } %>" >All </li>
                        <% for(let course of user.courses){ %>
                            <li class="filter_subject<% if(filterList.courseName==course.name){ %> selected <% } %>" ><%=course.name%></li>
                        <% } %>
                    </ul>
                </div>
            </div>
            <div class="filter_name">
                <div class="filter_heading">Date:</div>
                <div class="filter_content">
                    <ul class="list">
                        <li class="filter_sort<% if(filterList.sort=="Oldest First"){ %> selected <% } %>" >Oldest First</li>
                        <li class="filter_sort<% if(filterList.sort=="Latest First"){ %> selected <% } %>" >Latest First</li>
                    </ul>
                </div>
            </div>
            <% if(user.isAdmin){ %>
                <div class="filter_name">
                    <div class="filter_heading">Branch</div>
                    <div class="filter_content">
                        <ul class="list">
                            <li>ECE-1st Year</li>
                            <li>CSE-1st Year</li>
                            <li>EE-1st Year</li>
                            <li>CSE-2nd Year</li>
                        </ul>
                    </div>
                </div>
                <div class="filter_name">
                    <div class="filter_heading">Class Group</div>
                    <div class="filter_content">
                        <ul class="list">
                            <li>All</li>
                            <li>1</li>
                            <li>2</li>
                        </ul>
                    </div>
                </div>
                <div class="filter_name">
                    <div class="filter_heading">Lab Group</div>
                    <div class="filter_content">
                        <ul class="list">
                            <li>All</li>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                            <li>5</li>
                            <li>6</li>
                        </ul>
                    </div>
                </div>  
            <% } %>         
        </div>    
    </div>
    <div class="sidebar">
        <div class="sidebox">
            <div class="sidebar_heading">Upcoming Classes</div>
            <div class="sidebar_content">
                <div class="sidebar_title">Computer Architecture and Organisation </div>
                <div class="sidebar_time"> 12:00 </div>
            </div>
            <div class="sidebar_content">
                <div class="sidebar_title">Embedded Systems</div>
                <div class="sidebar_time"> 14:00 </div>
            </div>
           
        </div>
        <div class="sidebox">
            <div class="sidebar_heading">Upcoming Assignments</div>
            <div class="sidebar_content">
                <div class="sidebar_title">Computer Architecture and Organisation </div>
                <div class="sidebar_time"> 12-01-20 </div>
            </div>
            <div class="sidebar_content">
                <div class="sidebar_title">Embedded Systems</div>
                <div class="sidebar_time"> 20-07-20 </div>
            </div>
        </div>
        <div class="sidebox">
            <div class="sidebar_heading">Upcoming Quizzes</div>
            <div class="sidebar_content">
                <div class="sidebar_title">Computer Architecture and Organisation </div>
                <div class="sidebar_time"> 12-01-20 </div>
            </div>
            <div class="sidebar_content">
                <div class="sidebar_title">Embedded Systems</div>
                <div class="sidebar_time"> 20-07-20 </div>
            </div>
        </div>
    </div>

    
<script src="/js/announcements.js"></script>
<% if(user.isAdmin){ %>
    <script src="/js/announcements_admin.js"></script>
<% } %>
