<link rel="stylesheet" type="text/css" href="/css/announcements.css">    
<% if(user.isAdmin){ %>
    <link rel="stylesheet" type="text/css" href="/css/sidebar_position_admin.css">
<% } %>
    <div class="main">
        <%- include('navbar') %>

        <div id="black_screen"></div>

        <div class="main_content">
            <div class="main_heading">
                <div class="heading"> Announcements </div>
                <div class="filters_small">
                    <div>Filters</div>
                    <div><i class="fa fa-filter"></i></div>
                </div>
               
            </div>
            
            <div class="box_layout">
                <% if(user.isAdmin){ %>
                    <div class="add" id="addButton">
                        <div class="add_icon"><i class="fas fa-plus"></i></div>
                        <div class="add_content">Add </div>
                    </div>
                    <div class="add_admin">
                        <form id="add_form" method="POST" action="/content/announcements/create">
                            <label for="subject" class="subject_label">Subject:</label>
                            <select id="subject" name="subject">
                                <option value="All">All</option>
                                <!-- add all subjects related to teacher here -->
                            </select><br><br>
                            <label for="class_type">Class type:</label>
                            <select id="class_type" name="class_type">
                                <option value="Lecture">Lecture</option>
                                <option value="Lab">Lab/Tutorial</option>
                            </select><br><br>
                            <label for="branch">Branch:</label>
                            <select id="branch" name="branch">
                                <option value="All">All</option>
                                 <!-- add all branches related to teacher here -->
                            </select><br><br>
                            <label for="sub_group">Group:</label>
                            <select id="sub_group" name="sub_group" >
                                <option value="All">All</option>
                                 <!-- add all subgroups related to teacher here -->
                            </select><br><br>
                            <!-- <label for="title">Title:</label> -->
                            <input type="text" id="announcement_title" name="title" placeholder="Enter the title"></textarea><br><br>
                            <!-- <label for="message">Message:</label> -->
                            <textarea id="announcement_message" name="message" placeholder="Enter the message" rows="5" required="true"></textarea><br><br>
                            <div class="submit_button">
                                <button type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                <% } %>
                <% for(let announcement of announcements){ %>
                    <div class="box">
                        <div class="box_heading"> 
                            <div class="subject" ><%= announcement.classSub.course.name %></div>
                            <div class="title" ><%= announcement.title %></div>
                        </div>
                        <div class="box_content">  
                            <div class="box_content_details">
                                <% if(user.isAdmin){ %>
                                    <div class="branch_admin"><b>Branch: <%= announcement.classSub.class.stream %></b></div>
                                    <div class="group_admin" <% if(!announcement.classSub.group){ %> style="display:none" <%}%>><% if(announcement.classSub.group){ %><b>Class Group: <%= announcement.classSub.group.groupNumber %></b><% } %></div>
                                    <div class="sub_group_admin" <% if(!announcement.classSub.subGroup){ %>style="display:none"<%}%>><% if(announcement.classSub.subGroup){ %><b>Lab Group: <%= announcement.classSub.subGroup.subGroupNumber %></b><% } %></div>
                                    
                                <% } %>
                                <div class="description" <%if(announcement.content==""){%>style="display:none"<%}%>><%= announcement.content %></div>
                                <div class="date_posted">Posted on <%= new Intl.DateTimeFormat('en-US', { year: 'numeric', month: 'short', day: '2-digit', hour: 'numeric', minute: 'numeric'}).format(announcement.createdAt) %></div>
                                <% if(user.isAdmin){ %>
                                    <div class="buttons">
                                        <div class="buttons_admin">
                                            <div class="edit"><i class="far fa-edit"></i></div>
                                            <a href="/content/announcements/delete/<%=announcement._id%>"><div class="delete"><i class="fas fa-trash"></i></div></a>
                                        </div>
                                        <div class="buttons_admin_save">
                                            <div class="savechanges"><i class="fas fa-save"></i></div>
                                            <form id="invisible_form" method="POST" action="/content/announcements/update/<%= announcement._id %>">
                                                <input type="hidden" name="subject">
                                                <input type="hidden" name="title" >
                                                <input type="hidden" name="description">
                                            </form>
                                        </div>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                <% } %>
                
            </div>
        </div>
        <div class="filters">
            <div class="filter_name">
                <div class="filter_heading">Subjects:</div>
                <div class="filter_content">
                    <ul class="list">
                        <li class="filter_subject<% if(filterList.courseName=="All"){ %> selected <% } %>" >All </li>
                        <% if(user.isAdmin){ %>
                            <% for(let course of courseFilters){ %>
                                <li class="filter_subject<% if(filterList.courseName==course.name){ %> selected <% } %>" ><%=course.name%></li>
                            <% } %>
                        <% }else{ %>
                            <% for(let course of courseList){ %>
                                <li class="filter_subject<% if(filterList.courseName==course.name){ %> selected <% } %>" ><%=course.name%></li>
                            <% } %>
                        <% } %>
                    </ul>
                </div>
            </div>
            <div class="filter_name">
                <div class="filter_heading">Date:</div>
                <div class="filter_content">
                    <ul class="list">
                        <li class="filter_sort<% if(filterList.sort=="Oldest First"){ %> selected <% } %>" >Oldest First</li>
                        <li class="filter_sort<% if(filterList.sort=="Latest First"){ %> selected <% } %>" >Latest First</li>
                    </ul>
                </div>
            </div>
            <% if(user.isAdmin){ %>
                <div class="filter_name">
                    <div class="filter_heading">Branch</div>
                    <div class="filter_content">
                        <ul class="list">
                            <li class="filter_branch<% if(filterList.branch=="All"){ %> selected <% } %>" >All </li>
                            <% for(let branch of branchList){ %>
                                <li class="filter_branch<% if(filterList.branch==branch.stream){ %> selected <% } %>" ><%=branch.stream%></li>
                            <% } %> 
                        </ul>
                    </div>
                </div>
            <% } %>
        </div>    
    </div>
    <div class="sidebar">
        <div class="sidebox" id="class_sidebox">
            <div class="sidebar_heading">Upcoming Classes</div>
            <div class="sidebar_content">
                <div class="sidebar_title"></div>
                <div class="sidebar_time"></div>
            </div>
            <div class="sidebar_content">
                <div class="sidebar_title"></div>
                <div class="sidebar_time"></div>
            </div>
        </div>
        <div class="sidebox" id="assignment_sidebox">
            <div class="sidebar_heading">Upcoming Assignments</div>
            <div class="sidebar_content">
                <div class="sidebar_title">Computer Architecture and Organisation </div>
                <div class="sidebar_time"> 12-01-20 </div>
            </div>
            <div class="sidebar_content">
                <div class="sidebar_title">Embedded Systems</div>
                <div class="sidebar_time"> 20-07-20 </div>
            </div>
        </div>
        <div class="sidebox" id="quiz_sidebox">
            <div class="sidebar_heading">Upcoming Quizzes</div>
            <div class="sidebar_content">
                <div class="sidebar_title">Computer Architecture and Organisation </div>
                <div class="sidebar_time"> 12-01-20 </div>
            </div>
            <div class="sidebar_content">
                <div class="sidebar_title">Embedded Systems</div>
                <div class="sidebar_time"> 20-07-20 </div>
            </div>
        </div>
    </div>

    
<script src="/js/announcements.js"></script>
<% if(user.isAdmin){ %>
    <script src="/js/announcement_admin_filter.js"></script>
    <script src="/js/announcements_admin.js"></script>
<% }else{ %>
    <script src="/js/announcement_filter.js"></script>
<% } %>