<link rel="stylesheet" type="text/css" href="/css/announcements.css">    
    
    <div class="main">
        <%- include('navbar') %>

        <div id="black_screen"></div>

        <div class="main_content">
            <div class="main_heading">
                <div class="heading"> Announcements </div>
                <div class="filters_small">
                    <div>Filters</div>
                    <div><i class="fa fa-filter"></i></div>
                </div>
               
            </div>
            <!-- delete this later -->
            <% if(user.isAdmin){ %>
            <form method="Post" action="/content/announcements/create">
                <input type="text" name="title">
                <input type="text" name="content">
                <button type="submit">Submit</button>
            </form>
            <% } %>
            <div class="box_layout">
                
                <% for(let announcement of announcements){ %>

                    <div class="box">
                        <div class="box_heading"> 
                            <div class="subject"><%= announcement.title %></div>
                        </div>
                        <div class="box_content">  
                            <div class="box_content_details">                    
                                <div class="description"><%= announcement.content %></div>
                                <div class="date_posted">Posted on <%= announcement.createdAt %></div>
                            </div>
                        </div>
                        <% if(user.isAdmin){ %>
                        <a href='/content/announcements/edit/<%=announcement._id%>' class="edit_box">Edit</a>
                        <a href='/content/announcements/delete/<%=announcement._id%>'>Delete</a>
                        <% } %>
                    </div>
                <% } %>
                
            </div>
        </div>
        <div class="filters">
            <div class="filter_name">
                <div class="filter_heading">Subjects:</div>
                <div class="filter_content">
                    <ul class="list">
                        <li>All </li>
                        <li>Computer Architecture and Organisation</li>
                        <li>Embedded Systems</li>
                        <li>Wireless Communication</li>
                        <li>Advanced Communication</li>
                    </ul>
                </div>
            </div>
            <div class="filter_name">
                <div class="filter_heading">Date:</div>
                <div class="filter_content">
                    <ul class="list">
                        <li>Ascending</li>
                        <li>Descending</li>
                    </ul>
                </div>
            </div>
            
        </div>
        

    </div>
    <div class="sidebar">
        <div class="sidebox">
            <div class="sidebar_heading">Upcoming Classes</div>
            <div class="sidebar_content">
                <div class="sidebar_title">Computer Architecture and Organisation </div>
                <div class="sidebar_time"> 12:00 </div>
            </div>
            <div class="sidebar_content">
                <div class="sidebar_title">Embedded Systems</div>
                <div class="sidebar_time"> 14:00 </div>
            </div>
           
        </div>
        <div class="sidebox">
            <div class="sidebar_heading">Upcoming Assignments</div>
            <div class="sidebar_content">
                <div class="sidebar_title">Computer Architecture and Organisation </div>
                <div class="sidebar_time"> 12-01-20 </div>
            </div>
            <div class="sidebar_content">
                <div class="sidebar_title">Embedded Systems</div>
                <div class="sidebar_time"> 20-07-20 </div>
            </div>
        </div>
        <div class="sidebox">
            <div class="sidebar_heading">Upcoming Quizzes</div>
            <div class="sidebar_content">
                <div class="sidebar_title">Computer Architecture and Organisation </div>
                <div class="sidebar_time"> 12-01-20 </div>
            </div>
            <div class="sidebar_content">
                <div class="sidebar_title">Embedded Systems</div>
                <div class="sidebar_time"> 20-07-20 </div>
            </div>
        </div>
    </div>>

    
<script src="/js/announcements.js"></script>
