
<html>
    <!-- =========== layout 1 ========== -->
    
    <head>
        <title>
            <%= title  %>
        </title>
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>

        
        
        
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css"> -->
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>

        <link rel="stylesheet" href="https://use.fontawesome.com/f6bdc44dbc.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        
        <% if(title!='Login'){ %>
            
            <link rel="stylesheet" href="/css/layout.css">
            <%if(!user.isSuperUser){%>
                <link rel="stylesheet" type="text/css" href="/css/_header.css">
            <%}%>
            <!-- else here -->
            

        <% } %>
    
        <%- style %>   
       
    </head>
    <body>
        <% if(title!='Login' && title!='Register'){ %>
            <%if(!user.isSuperUser){%>
                <%- include('_header') %>
            <%}%>
            <!-- else here -->
        <% } %>
        <main id="layout-main">
            <%- body %>
        </main>
        <% if(title!='Login' && title!='Register'){ %>
            <%- include('_footer') %>
            <%- script %>
        <% } %>
        
        <script> 
              
            <% if(flash.success && flash.success.length>0){ %>    
                    
                new Noty({
                    theme:'semanticui',
                    text:"<%=flash.success%>",
                    type:'success',
                    layout:'topRight',
                    timeout:1500
                }).show();
            <% } %>
        </script>
    </body>
  
</html>
