<link rel="stylesheet" type="text/css" href="/css/profile.css">
<div class="main_area_profile">
    <div class="profile_container">
        <div class="navbar_profile">
            <div class="dp_container dp_hover">
                <div class="img_container profile_pic">
                    <i class="profile_pic fa fa-user-circle color_white"></i>
                    <!-- <img class="profile_pic" id="img" src="" alt="User Image"> -->
                </div>
                <!-- <div class="edit_button pencil">
                    <i class="fa fa-pencil-alt  edit_icon" id="pencil_btn"></i>
                    <input type="file" id="change_1" class="change_pic" accept="image/*">
                    <i class="fa fa-trash  edit_icon" id="delete_btn"></i>
                </div> -->
            </div>

            <div class="profile_options">
                <a class="profile_tags option" href="#personal_info">
                    <div>Personal Information</div>
                </a>
                <!-- <a class="profile_tags" href="#attendance"><div class="option">Attendance</div></a> -->
                <a class="profile_tags option" href="#course">
                    <div>Courses</div>
                </a>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="dp_container dp_hover responsive_dp">
            <div class="img_container profile_pic">
                <i class="profile_pic fa fa-user-circle color_white" "></i>
                <!-- <img class="profile_pic" id="img_responsive" src="" alt="User Image"> -->
            </div>
            <!-- <div class="edit_button pencil">
                <i class="fa fa-pencil-alt  edit_icon" id="pencil_btn_1"></i>
                <input type="file" class="change_pic" accept="image/*">
                <i class="fa fa-trash  edit_icon" id="delete_btn_1"></i>
            </div> -->
        </div>
        <div class="profile_content">
            <div class="personal_info">
                <div class="edit_info_name table_title">
                    <div class="personal_option" id="personal_info">
                        PERSONAL INFORMATION
                    </div>
                </div>
                <div class="edit_container">

                    <div class="edit_info_field">
                        <div class="personal_option">
                            Name:
                        </div>

                        <div class="personal_option">
                            Student ID:
                        </div>
                        <div class="personal_option">
                            Branch:
                        </div>
                        <div class="personal_option">
                            Current Year:
                        </div>
                        <div class="personal_option">
                            Date of Birth:
                        </div>
                        <div class="personal_option">
                            Contact Information:
                        </div>
                    </div>
                    <div class="edit_info_name">
                        <input type="text" class="personal_info_input_css" disabled value="<%=user.name%>">
                        <input type="text" class="personal_info_input_css" disabled value="<%=user.sid%>">
                        <input type="text" class="personal_info_input_css " disabled value="<%=user.dept%>">
                        <input type="text" id="user_currentYear" class="personal_info_input personal_info_input_css"
                            disabled value="<%=user.currentYear%>">
                        <input type="date" id="user_date" class="personal_info_input personal_info_input_css" disabled
                            value="<%=user.dob%>">
                        <input type="text" id="user_contact" class="personal_info_input personal_info_input_css"
                            disabled value="<%=user.contact%>">



                        <div class="submit_container">
                            <input type="submit" class="submit" value="Edit Information" id="submit_personal">
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="underline"></div>

        <div class="courses">
            <div class="courses_inner_container">
                <div class="edit_info_name table_title">
                    <div class="personal_option" id="course">
                        COURSES
                    </div>
                </div>
                <div class="profile_content">
                    <div class="edit_course">
                        <form id="course_form">
                            <!-- <input type="hidden"> -->
                            <div class="heading_add" id="course_select_container">
                                <select name="course_id" id="course_id" class="subject_id">
                                    <option selected disabled value="">Select Course ID</option>
                                    <!-- <option value="ECN301">ECN301: COMPUTER ARCHITECTURE</option> -->
                                    <%for(let course of courseList){%>
                                        <option id="<%=course._id%>" value="<%=course.code%>">
                                            <%=course.name%>
                                        </option>
                                        <%}%>
                                </select>
                                <button type="button" class="add" id="add_course">
                                    Add Course
                                </button>
                            </div>
                            <!-- <div class="course_style" id="course_style"> -->
                            <!-- <div class="course_container" id="course_container"> -->

                            <!-- <div class="course_name">
                                        <input type="text" class="course_name_styling" value="" disabled>
                                    </div> -->
                            <!-- </div>  -->
                            <div class="heading_container">
                                <div class="course_id_heading">
                                    COURSE ID
                                </div>
                                <div class="course_name_heading">
                                    COURSE NAME
                                </div>
                                <div></div>
                            </div>
                            <div class="added_course" id="new_course">

                                <div class="no_courses" id="course_none">No courses added!</div>
                                <%for(let course of userCourseList){%>
                                    <div class="course_container" id="<%=course._id%>">
                                        <div class="subject_id_added">
                                            <%=course.code%>
                                        </div>
                                        <div class="course_name course_name_styling">
                                            <%=course.name%>
                                        </div>
                                        <i class="fa fa-trash trash_icon"></i>
                                    </div>
                                    <%}%>
                            </div>
                            <!-- </div> -->
                            <div class="heading_add_1" id="heading_add_1">
                                <input type="submit" value="Edit Courses" id="submit_courses"
                                    class="submit_courses_styles">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="/js/profile.js"></script>