<link rel="stylesheet" type="text/css" href="/css/quizzes.css">
<% if(user.isAdmin){ %>
    <link rel="stylesheet" type="text/css" href="/css/filters_position_admin.css">
<% } %>   
    
<div class="main">
    <%- include('navbar') %>

    <div id="black_screen"></div>

    <div class="main_content">
        <div class="main_heading">
            <div class="heading"> Quizzes/ Tests</div>
            <div class="filters_small">
                <div>Filters</div>
                <div><i class="fa fa-filter"></i></div>
            </div>
            
        </div>
        <div class="box_layout">
            <% if(user.isAdmin){ %>
                <div class="add" id="addButton">
                    <div class="add_icon"><i class="fas fa-plus"></i></div>
                    <div class="add_content">Add </div>
                </div>
                <div class="add_admin">
                    <form method="POST" action="/content/quizzes/create">
                        <label for="subject" class="subject_label">Subject:</label>
                        <select id="subject" name="subject">
                            <option value="All">All</option>
                        </select><br><br>
                        <label for="branch">Branch:</label>
                        <select id="branch" name="branch">
                            <option value="All">All</option>
                        </select><br><br>
                        <label for="group">Class Group:</label>
                        <select id="group" name="group">
                            <option value="All">All</option>
                        </select><br><br>
                        <label for="sub_group">Lab Group:</label>
                        <select id="sub_group" name="sub_group" >
                            <option value="All">All</option>
                        </select><br><br>
                        <label>Quiz date and time:</label>
                        <input class="quiz_date" name="quiz_date" type="datetime-local" id="date_quiz" placeholder="Quiz date" ><br><br>
                        <label >Duration of quiz:</label>
                        <input class="quiz_time" type="number" name="time_quiz" id="time_quiz" min="0" >
                        <label class="duration">(in minutes)</label><br>
                        <input type=text name="quiz_link" id="quiz_link" placeholder="Link for the quiz" ><br><br>
                        <input type="text" name="quiz_title" id="quiz_title" placeholder="Title of quiz" ></textarea><br><br>
                        <textarea name="instructions" id="quiz_instructions" placeholder="Other Instructions" rows="4" ></textarea><br><br>
                        <div class="submit_button">
                            <button type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            <% } %>
            <% for(let quiz of quizzes){ %>
                <div class="box">
                    <div class="box_heading"> 
                        <div class="subject"><%= quiz.classSub.course.name %></div>
                        <div class="title"><%= quiz.title %></div>
                    </div>
                    <div class="box_content">  
                        <div class="box_content_details">                    
                            <div class="deadline">
                                <div class="deadline_heading">Live on </div>
                                <div class="deadline_content"><%= new Intl.DateTimeFormat('en-US', { year: 'numeric', month: 'short', day: '2-digit', hour: 'numeric', minute: 'numeric'}).format(quiz.dateTime) %></div>
                                <input type="datetime-local" class="deadline_input" style="display: none;" value="2018-06-12T19:30">
                            </div>    
                            <div class="duration_quiz">
                                <div class="duration_heading">Duration (in minutes):</div>
                                <div class="duration_content"><%= quiz.duration %></div>
                            </div>
                            <% if(user.isAdmin){ %>
                                <div class="branch_admin">Branch: <%= quiz.classSub.class.stream %></div>
                                <div class="group_admin"><% if(quiz.classSub.group){ %>Class Group: <%= quiz.classSub.group.groupNumber %><% } %></div>
                                <div class="sub_group_admin"><% if(quiz.classSub.subGroup){ %>Lab Group: <%= quiz.classSub.subGroup.subGroupNumber %><% } %></div>
                            <% } %>
                            <a class="link" target="_blank" href="<%= quiz.link %>"><%= quiz.link %></a>
                            <div class="description"><%= quiz.content %></div>
                            <div class="date_posted">Posted on <%= new Intl.DateTimeFormat('en-US', { year: 'numeric', month: 'short', day: '2-digit', hour: 'numeric', minute: 'numeric'}).format(quiz.createdAt) %></div>
                            <% if(user.isAdmin){ %>
                                <div class="buttons">
                                    <div class="buttons_admin">
                                        <div class="edit"><i class="far fa-edit"></i></div>
                                        <a href="/content/quizzes/delete/<%=quiz._id%>"><div class="delete"><i class="fas fa-trash"></i></div></a>
                                    </div>
                                    <div class="buttons_admin_save">
                                        <div class="savechanges"><i class="fas fa-save"></i></div>
                                        <form method="POST" id="invisible_form" action="/content/quizzes/update/<%=quiz._id%>">
                                            <input type="hidden" name="title" >
                                            <input type="hidden" name="description">
                                            <input type="hidden" name="link">
                                            <input type="hidden" name="duration">
                                            <input type="hidden" name="deadline">
                                        </form>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
    <div class="filters">
        <div class="filter_name">
            <div class="filter_heading">Subjects:</div>
            <div class="filter_content">
                <ul class="list">
                    <li class="filter_subject<% if(filterList.courseName=="All"){ %> selected <% } %>" >All </li>
                        <% if(user.isAdmin){ %>
                            <% for(let course of courseFilters){ %>
                                <li class="filter_subject<% if(filterList.courseName==course.name){ %> selected <% } %>" ><%=course.name%></li>
                            <% } %>
                        <% }else{ %>
                            <% for(let course of courseList){ %>
                                <li class="filter_subject<% if(filterList.courseName==course.name){ %> selected <% } %>" ><%=course.name%></li>
                            <% } %>
                        <% } %>
                </ul>
            </div>
        </div>
        <div class="filter_name">
            <div class="filter_heading">Date:</div>
            <div class="filter_content">
                <ul class="list">
                    <li class="filter_sort<% if(filterList.sort=="Oldest First"){ %> selected <% } %>" >Oldest First</li>
                    <li class="filter_sort<% if(filterList.sort=="Latest First"){ %> selected <% } %>" >Latest First</li>
                </ul>
            </div>
        </div>
        <% if(user.isAdmin){ %>
            <div class="filter_name">
                <div class="filter_heading">Branch</div>
                <div class="filter_content">
                    <ul class="list">
                        <li class="filter_branch<% if(filterList.branch=="All"){ %> selected <% } %>" >All </li>
                        <% for(let branch of branchList){ %>
                            <li class="filter_branch<% if(filterList.branch==branch.stream){ %> selected <% } %>" ><%=branch.stream%></li>
                        <% } %> 
                    </ul>
                </div>
            </div>
        <% } %>
    </div>

</div>

<script src="/js/quizzes.js"></script>
<% if(user.isAdmin){ %>
    <!-- <script src="/js/quizzes_admin_filter.js"></script> -->
    <script src="/js/quizzes_admin.js"></script>
<% }else{ %>
    <!-- <script src="/js/quizzes_filter.js"></script> -->
<% } %>