<link rel="stylesheet" type="text/css" href="/css/recorded_lectures.css"> 
    
    <div class="main">
        <%- include('navbar') %>

        <div id="black_screen"></div>

        <div class="main_content">
            <div class="main_heading">
                <div class="heading"> Recorded Lectures</div>
                <div class="filters_small">
                    <div>Filters</div>
                    <div><i class="fa fa-filter"></i></div>
                </div>
               
            </div>
            <div class="box_layout">
                <% if(user.isAdmin){ %>
                    <div class="add" id="addButton">
                        <div class="add_icon"><i class="fas fa-plus"></i></div>
                        <div class="add_content">Add </div>
                    </div>
                    <div class="add_admin">
                        <form method="POST" action="/content/recordedlectures/create">
                            <label for="subject">Subject:</label>
                            <select id="subject" name="subject">
                                <option value="All">All</option>
                                
                            </select><br><br>
                            <label for="branch">Branch:</label>
                            <select id="branch" name="branch">
                                <option value="All">All</option>
                            </select><br><br>
                            <label for="group">Class Group:</label>
                            <select id="group" name="group">
                                <option value="All">All</option>
                            </select><br><br>
                            <label for="sub_group">Lab Group:</label>
                            <select id="sub_group" name="sub_group" >
                                <option value="All">All</option>
                            </select><br><br>
                            <label>Date of lecture:</label>
                            <input class="date_lecture" type="date" id="lecture_date" placeholder="Date of lecture" ><br><br>
                            <input type=text name="lecture_link" id="lecture_link" placeholder="Link of the lecture" ><br><br>
                            <input type="text" name="title" id="lecture_title" placeholder="Title of lecture" ></textarea><br><br>
                            <textarea name="lecture_references" id="lecture_references" placeholder="Book/video references" rows="3"></textarea><br><br>
                            <textarea name="message" id="lecture_message" placeholder="Other description" rows="4" ></textarea><br><br>
                            <div class="submit_button">
                                <button type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                <% } %>
                <% for(let lecture of recordedLectures){ %>
                    <div class="box">
                        <div class="box_heading"> 
                            <div class="subject"><%= lecture.classSub.course.name %></div>
                            <div class="title"><%= lecture.title %></div>
                        </div>
                        <div class="box_content">  
                            <div class="box_content_details">                    
                                <div class="deadline"><%= lecture.recordedOn %></div>
                                <% if(user.isAdmin){ %>
                                    <div class="branch_admin">Branch: <%= lecture.classSub.class.stream %></div>
                                    <div class="group_admin"><% if(lecture.classSub.group){ %>Class Group: <%= lecture.classSub.group.groupNumber %><% } %></div>
                                    <div class="sub_group_admin"><% if(lecture.classSub.subGroup){ %>Lab Group: <%= lecture.classSub.subGroup.subGroupNumber %><% } %></div>
                                <% } %>
                                <a class="link" target="_blank" href="<%= lecture.link %>"><%= lecture.link %></a>
                                <div class="references"><%= lecture.references %></div>
                                <div class="description"><%= lecture.content %></div>
                                <div class="date_posted">Posted on <%= new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: 'short', day: '2-digit', hour: 'numeric', minute: 'numeric'}).format(lecture.createdAt) %></div>
                                <% if(user.isAdmin){ %>
                                    <div class="buttons">
                                        <div class="buttons_admin">
                                            <div class="edit"><i class="far fa-edit"></i></div>
                                            <a href="/content/recordedlectures/delete/<%=lecture._id%>"><div class="delete"><i class="fas fa-trash"></i></div></a>
                                        </div>
                                        <div class="buttons_admin_save">
                                            <div class="savechanges"><i class="fas fa-save"></i></div>
                                            <form method="POST" id="invisible_form" action="/content/recordedlectures/update/<%=lecture._id%>">
                                                <input type="hidden" name="title" >
                                                <input type="hidden" name="description">
                                                <input type="hidden" name="references">
                                                <input type="hidden" name="link">
                                            </form>
                                        </div>
                                    </div>
                                <% } %>
                            </div>     
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
        <div class="filters">
            <div class="filter_name">
                <div class="filter_heading">Subjects:</div>
                <div class="filter_content">
                    <ul class="list">
                        <li class="filter_subject<% if(filterList.courseName=="All"){ %> selected <% } %>" >All </li>
                        <% if(user.isAdmin){ %>
                            <% for(let course of courseFilters){ %>
                                <li class="filter_subject<% if(filterList.courseName==course.name){ %> selected <% } %>" ><%=course.name%></li>
                            <% } %>
                        <% }else{ %>
                            <% for(let course of courseList){ %>
                                <li class="filter_subject<% if(filterList.courseName==course.name){ %> selected <% } %>" ><%=course.name%></li>
                            <% } %>
                        <% } %>
                        
                    </ul>
                </div>
            </div>
            <div class="filter_name">
                <div class="filter_heading">Date:</div>
                <div class="filter_content">
                    <ul class="list">
                        <li class="filter_sort<% if(filterList.sort=="Oldest First"){ %> selected <% } %>" >Oldest First</li>
                        <li class="filter_sort<% if(filterList.sort=="Latest First"){ %> selected <% } %>" >Latest First</li>
                    </ul>
                </div>
            </div>
            <% if(user.isAdmin){ %>
                <div class="filter_name">
                    <div class="filter_heading">Branch</div>
                    <div class="filter_content">
                        <ul class="list">
                            <li class="filter_branch<% if(filterList.branch=="All"){ %> selected <% } %>" >All </li>
                            <% for(let branch of branchList){ %>
                                <li class="filter_branch<% if(filterList.branch==branch.stream){ %> selected <% } %>" ><%=branch.stream%></li>
                            <% } %> 
                        </ul>
                    </div>
                </div>
            <% } %>
        </div>
        
    </div>

    
<script src="/js/recorded_lectures.js"></script>
<% if(user.isAdmin){ %>
    <script src="/js/recorded_lectures_admin_filter.js"></script>
    <script src="/js/recorded_lectures_admin.js"></script>
<% }else{ %>
    <script src="/js/recorded_lectures_filter.js"></script>
<% } %>
