<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" >
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/time_table.css">
   
<div class="main">
    <%- include('navbar') %>

    <div id="black_screen"></div>

    <div class="main_content">
        <div class="main_heading">
            <div class="heading"> Time Table</div>
            <% if(user.isAdmin){ %>
                <div class="add" id="addButton">
                    <div class="add_icon"><i class="fas fa-plus"></i></div>
                    <div class="add_content">Add Class </div>
                </div>
            <% } %>
        </div>
        
        <% if(user.isAdmin){ %>
            <div class="add_admin">
            <form id="add_form" action="/content/timetable/create" method="POST" >
                <label for="subject" class="subject_label">Subject HATA:</label>
                <select id="subject" name="subject" required>
                    <option value="" disabled selected>--Select an option--</option>
                    <% for(let course of courseList){ %>
                        <option value="<%= course._id %>"><%= course.name %></option>
                    <% } %>
                </select><br><br>
                <label for="branch" class="branch_label">Branch:</label>
                <select id="branch" name="branch" required>
                    <option value="" disabled selected>--Select an option--</option>
                </select><br><br>
                <label for="group" class="group_label">Class Group:</label>
                <select id="group" name="group" required>
                    <option value="All">All</option>   
                </select><br><br>
                <label for="sub_group" class="lab_group_label">Lab Group:</label>
                <select id="sub_group" name="sub_group" required>
                    <option value="All">All</option>
                </select><br><br>    
                <label class="date_label">Date:</label>        
                <input type="date" name="lecture_date" id="lecture_date" required><br><br>
                <label class="duration_label">Duration (in hours):</label>
                <input type="number" name="duration_hr" id="duration_hr"  min="1" step="1" required value="1"><br><br>    
                <label class="slots_available_label">Available slots:</label>
                <select id="slots_available" name="slots_available" required>
                    <option value="" disabled selected>--Select an option--</option>
                </select>
                <!-- <label name="deadline_lecture">Deadline: </label>
                <input type="datetime-local" name="lecture_deadline" id="lecture_deadline" required="true"><br><br>
                <label for="weightage_input">Marks:</label>
                <input id="weightage_input" type="number" name="weightage" class="weightageStyle" min=0><br><br>
                <input type="text" name="title" id="title" placeholder="Enter the title" ></textarea><br><br>
                <textarea name="message" id="message" placeholder="Enter the message" rows="5" required=true></textarea><br><br>
                <div class="files">
                    <div id="file_names"></div>
                    <div id="file_inputs">
                        <input type=file name="file0" class="file" style="display: none;">
                        <button id="add_files_button" type="button">Add file</button>
                    </div>
                </div> -->
                <div class="submit_button">
                    <button type="submit">Submit</button>
                </div>
            </form>
            </div>
        <% } %>

        <div id="week_shift">
            <div class="left_week">
                <div class="left_week_arrow"><i class="fas fa-angle-left"></i></div>
                <div class="left_week_content">Previous Week</div>
            </div>
            <div class="right_week">
                <div class="right_week_content">Next Week</div>
                <div class="right_week_arrow"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
        <div class="box_layout">
            <div class=table_background></div>
            <div class="table">
                <div class="table_row">
                    <div class="table_column table_heading"><input id="starting_date" value="<%=startingDate%>"type="hidden"></div>
                    <div class="table_column table_heading">MONDAY<span></span></div>
                    <div class="table_column table_heading">TUESDAY<span></span></div>
                    <div class="table_column table_heading">WEDNESDAY<span></span></div>
                    <div class="table_column table_heading">THURSDAY<span></span></div>
                    <div class="table_column table_heading">FRIDAY<span></span></div>
                    <div class="table_column table_heading">SATURDAY<span></span></div>
                    <div class="table_column table_heading">SUNDAY<span></span></div>
                </div>
                <div style="display: flex; flex-direction: row; width:100%">
                    <div class="timetable_content_container">
                        <% for(let i=0;i<9;i++){ %>
                            <div class="table_row" id="row<%=i+1%>">
                                <div class="table_column table_heading"><%=8+i%>:00 - <%=9+i%>:00</div>
                                <% for(let j=0;j<7;j++){%>
                                    <div class="table_column" <%if(timetableItems[j][8+i]){%>id="<%=timetableItems[j][8+i]._id%>" style="height:<%= 4*timetableItems[j][8+i].duration %>em !important; z-index:2;"<%}%> ><%if(timetableItems[j][8+i]){%><%=timetableItems[j][8+i].classSub.course.name%><%}%></div>
                                <% } %>
                            </div>
                        <% } %>
                    </div>
                </div>
                
                
            </div>
        </div>
        <!-- -------------------------------------------THEEK KRO (STATIC DATA)-------------------------------------------------- -->
        <div id="info">
            <div class="subject_name">Computer Architecture and OrganizationComputer Architecture and Organization</div>
            <div class="class_group"><b>Class Group: &nbsp; </b>2</div>
            <div class="lab_group"><b>Lab group: &nbsp;</b> All</div>
            <div class="timings"><b>Time:&nbsp; </b> 2:00PM - 3:00PM</div>
            <div class="buttons_edit">
                <button type="button" class="cancel_button">Cancel class</button>
                <button type="button" class="reschedule_button">Reschedule class</button>
            </div>
        </div>
        <div id="reschedule_class">
            <div class="subject_name_reschedule">Computer Architecture and OrganizationComputer Architecture and Organization</div>
            <div class="class_group_reschedule">
                <div class="cg_reschedule_heading"><b>Class Group:&nbsp;</b></div>
                <div class="cg_reschedule_content">2</div>
            </div>
            <div class="lab_group_reschedule">
                <div class="lg_reschedule_heading"><b>Lab group:&nbsp;</b></div> 
                <div class="lg_reschedule_content">All</div>
            </div>
            <div>
                <label class="date_reschedule_label"><b>Date:</b></label>
                <input type="date" name="date_reschedule" id="date_reschedule" required>
            </div>
            <div>
                <label class="duration_reschedule_label"><b>Duration:</b></label>
                <input type="number" min="1" name="duration_reschedule" id="duration_reschedule" required>
            </div>
            <div>
                <label class="slots_available_label_reschedule"><b>Available slots:</b></label>
                <select id="slots_available_reschedule" name="slots_available_reschedule" required>
                    <option value="" disabled selected>--Select an option--</option>
                </select>
            </div>
            <div class="buttons_reschedule">
                <button type="button" class="submit_button_reschedule">Reschedule</button>
            </div>
        </div>

        
         <!-- -------------------------------------------------------------------------------------------------------------------- -->

    </div>

</div>


<% if(user.isAdmin){ %>
    <script src="/js/time_table_admin.js"></script>
<% }else{ %>
    <script src="/js/time_table.js"></script>
<%}%>