<link rel="stylesheet" type="text/css" href="/css/time_table.css">
   
<div class="main">
    <%- include('navbar') %>

    <div id="black_screen"></div>

    <div class="main_content">
        <div class="main_heading">
            <div class="heading"> Time Table</div>
        </div>
        <div id="week_shift">
            <div class="left_week">
                <div class="left_week_arrow"><i class="fas fa-angle-left"></i></div>
                <div class="left_week_content">Previous Week</div>
            </div>
            <div class="right_week">
                <div class="right_week_content">Next Week</div>
                <div class="right_week_arrow"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
        <div class="box_layout">
            <div class=table_background></div>
            <div class="table">
                <div class="table_row">
                    <div class="table_column table_heading"><input id="starting_date" value="<%=startingDate%>"type="hidden"></div>
                    <div class="table_column table_heading">MONDAY<span></span></div>
                    <div class="table_column table_heading">TUESDAY<span></span></div>
                    <div class="table_column table_heading">WEDNESDAY<span></span></div>
                    <div class="table_column table_heading">THURSDAY<span></span></div>
                    <div class="table_column table_heading">FRIDAY<span></span></div>
                    <div class="table_column table_heading">SATURDAY<span></span></div>
                    <div class="table_column table_heading">SUNDAY<span></span></div>
                </div>
                <div style="display: flex; flex-direction: row; width:100%">
                    <div class="timetable_content_container">
                        <% for(let i=0;i<9;i++){ %>
                            <div class="table_row" id="row<%=i+1%>">
                                <div class="table_column table_heading"><%=8+i%>:00 - <%=9+i%>:00</div>
                                <% for(let j=0;j<7;j++){%>
                                    <div class="table_column" <%if(timetableItems[j][8+i]){%>id="<%=timetableItems[j][8+i]._id%>"<%}%> ><%if(timetableItems[j][8+i]){%><%=timetableItems[j][8+i].classSub.course.name%><%}%></div>
                                <% } %>
                            </div>
                        <% } %>
                    </div>
                </div>
                
                
            </div>
        </div>
        <div id="info">
            <div class="subject_name">Computer Architecture and Organization</div>
            <div class="class_group"><b>Class Group:</b> 2</div>
            <div class="lab_group"><b>Lab group:</b> All</div>
            <div class="timings"><b>Time:</b> 2:00PM - 3:00PM</div>
            <div class="buttons_edit">
                <button type="button" class="cancel_button">Cancel class</button>
                <button type="button" class="reschedule_button">Reschedule class</button>
            </div>
        </div>
    </div>

</div>


<% if(user.isAdmin){ %>
    <script src="/js/time_table_admin.js"></script>
<% }else{ %>
    <script src="/js/time_table.js"></script>
<%}%>