<link rel="stylesheet" type="text/css" href="/css/coursesassgn_superuser.css">
<div class="main">
    <%- include('navbar_superuser') %>
    <div id="black_screen"></div>
    <div class="main_content">
        <div class="main_heading">
            <div class="heading">Courses Assigned</div>
        </div>
    </div>
    <div class="box_layout">
        
        <div class="add" id="addButton">
            <div class="add_icon"><i class="fas fa-plus"></i></div>
            <div class="add_content">Add </div>
        </div>
        
        <div class="add_admin">
            <form method="POST" action="/superuser/coursesassigned/create">
                <label class="year_study_label">Year of Study:</label> 
                <select class="year_study" name="study_year" id="study_year" required>
                    <option selected disabled value="">---SELECT---</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select><br><br>
                <label class="course_code_label">Course Code: </label>
                <select class="course_code" name="code_course" id="code_course" required>
                    <option selected disabled value="">---SELECT---</option>
                </select><br><br>
                <label class="branch_label">Branch:</label> 
                <select class="branch_choose" name="choose_branch" id="choose_branch" required>
                    <option selected disabled value="">---SELECT---</option>
                </select><br><br>
                <!-- <label class="programme_label">Programme: </label>
                <select class="programme" name="programme_add" id="programme_add" required>
                    <option selected disabled value="">---SELECT---</option>
                    <option value="BTECH">BTECH</option>
                    <option value="MTECH">MTECH(Vlsi)</option>
                </select><br><br> -->
                <label class="lab_lecture_label">Class type:</label>
                <select class="lab_lecture" name="lecture_lab" id="lecture_lab" required>
                    <option selected disabled value="">---SELECT---</option>
                    <option value="Lab">Lab/Tutorial</option>
                    <option value="Lecture">Lecture</option>
                </select><br><br>
                <label class="class_group_label">Group:</label>
                <select class="class_group" name="group_class" id="group_class" required>
                    <option selected disabled value="">---SELECT---</option>
                    <option value="All">All</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select><br><br>
                <!-- <select class="branch" name="branch_teacher" id="branch_teacher" required>
                    <option value="ECE">ECE</option>
                    <option value="CSE">CSE</option>
                </select> -->
                <label class="teacher_name_label">Teacher:</label>
                <select class="teacher_name" name="name_teacher" id="name_teacher" required>
                    <option selected disabled value="">---SELECT---</option>
                    <option value="Jyoti Kedia">Jyoti Kedia</option>
                    <option value="Divya Dhawan">Divya Dhawan</option>
                </select>
                
                <div class="submit_button">
                    <button  id="button_submit" type="submit">Submit</button>
                </div>
            </form>
            
        </div>
        
        <div class="teacher_container">
            <div class="teacher_heading">
                <div class="arrow_icon" style="visibility: hidden;"><i class="fas fa-caret-right"></i></div>
                <div class="subject_heading">Course Code</div>
                <div class="year_main_heading">Year</div>
                <div class="programme_heading">Programme</div>
            </div>
            <div class="teacher_main_container">
                <% for(let course of courseList){ %>
                    <div class="teacher_subjects" id=<%= course._id %>>
                        <div class="teacher_main">
                            <div class="arrow_icon"><i class="fas fa-caret-right"></i></div>
                            <div class="subject"><%= course.code %></div>
                            <div class="year_main">1</div>
                            <div class="programme_chosen">BTECH</div>
                        </div>
                        <div class="subjects_added">
                            <div class="subject_container_heading">
                                <div class="teacher_name_heading">Name</div>
                                <div class="branch_heading">Branch</div>
                                <div class="class_type_heading">Class type</div>
                                <div class="sub_group_heading">Group</div>
                                <div class="delete_icon_subject" style="visibility: hidden;"><i class="fas fa-trash"></i></div>
                            </div>
                            <div class="no_teacher">No teachers assigned</div>
                            <% for(let teacherObject of course.teachers){ %>
                                <div class="subject_container">
                                    <div class="teacher_name_main"><%= teacherObject.teacher.name %></div>
                                    <div class="branch_main"><%= teacherObject.classSub.class.stream %></div>
                                    <div class="class_type"><%= teacherObject.classType %></div>
                                    <% if((teacherObject.classType == "Lecture" && !teacherObject.classSub.group) || (teacherObject.classType == "Lab" && !teacherObject.classSub.subGroup)){ %>
                                        <div class="sub_group">All</div>
                                    <% } else if(teacherObject.classType == "Lecture"){ %>
                                        <div class="sub_group"><%= teacherObject.classSub.group.groupNumber %></div>
                                    <% } else if(teacherObject.classType == "Lab"){ %>
                                        <div class="sub_group"><%= teacherObject.classSub.subGroup.subGroupNumber %></div>
                                    <% } %>
                                    <div class="delete_icon_subject" ><i class="fas fa-trash"></i></div>
                                </div>
                            <% } %>
                        </div>
                    </div>
                <% } %>
                <!-- -------------------------TEACHER1--------------------------------------- -->
                <div class="teacher_subjects">
                    <div class="teacher_main">
                        <div class="arrow_icon"><i class="fas fa-caret-right"></i></div>
                        <div class="subject">ECN-201</div>
                        <div class="year_main">1</div>
                        <div class="programme_chosen">BTECH</div>
                    </div>
                    <div class="subjects_added">
                        <div class="subject_container_heading">
                            <div class="teacher_name_heading">Name</div>
                            <div class="branch_heading">Branch</div>
                            <div class="class_type_heading">Class type</div>
                            <div class="sub_group_heading">Group</div>
                            <div class="delete_icon_subject" style="visibility: hidden;"><i class="fas fa-trash"></i></div>
                        </div>
                        <div class="no_teacher">No teachers assigned</div>
                        <div class="subject_container">
                            <div class="teacher_name_main">Jyoti Kedia Jyoti KediaJyoti Kedia</div>
                            <div class="branch_main">ECE</div>
                            <div class="class_type">Lab</div>
                            <div class="sub_group">2</div>
                            <div class="delete_icon_subject" ><i class="fas fa-trash"></i></div>
                        </div>
                        <div class="subject_container">
                            <div class="teacher_name_main">Jyoti Kedia</div>
                            <div class="branch_main">ECE</div>
                            <div class="class_type">Lecture</div>
                            <div class="sub_group">2</div>
                            <div class="delete_icon_subject" ><i class="fas fa-trash"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/coursesassgn_superuser.js"></script>