<link rel="stylesheet" type="text/css" href="/css/courses_superuser.css">
<div class="main">
    <%- include('navbar_superuser') %>
    <div id="black_screen"></div>
    <div class="main_content">
        <div class="main_heading">
            <div class="heading">Courses Offered</div>
        </div>
    </div>
    <div class="box_layout " >
        <div class="add" id="addButton">
            <div class="add_icon"><i class="fas fa-plus"></i></div>
            <div class="add_content">Add </div>
        </div>
        <div class="add_admin">
            <form method="POST" action="#">
                <label class="subject_code_label">Subject Code:</label>
                <input type="text" name="subject_code" id="subject_code" required><br><br>
                <label class="subject_name_label">Subject Name:</label>
                <input type="text" name="subject_name" id="subject_name" required><br><br>
                <label class="subject_credits_label">Credits:</label>
                <input type="number" min="0" name="subject_credits" id="subject_credits" required><br>
                <div id="subject_select_container">
                    <div class="subject_select_label">Offered to:</div>
                    <div class="select_container" id="branch_input">
                        <div class="subject_select">
                            <input type="checkbox" name="ECE">
                            <div>ECE</div>
                        </div>
                        <div class="subject_select">
                            <input type="checkbox" name="CSE">
                            <div>CSE</div>
                        </div>
                        <div class="subject_select">
                            <input type="checkbox" name="EE">
                            <div>EE</div>
                        </div>
                        <div class="subject_select">
                            <input type="checkbox" name="MECH">
                            <div>MECH</div>
                        </div>
                        <div class="subject_select">
                            <input type="checkbox" name="PROD">
                            <div>PROD</div>
                        </div>
                        <div class="subject_select">
                            <input type="checkbox" name="METTA">
                            <div>METTA</div>
                        </div>
                        <div class="subject_select">
                            <input type="checkbox" name="AERO">
                            <div>AERO</div>
                        </div>
                        <div class="subject_select">
                            <input type="checkbox" name="CIVIL">
                            <div>CIVIL</div>
                        </div>
                    </div>                    
                </div>
                <div id="checkbox_container">
                    <input name="isActive" type="checkbox" id="active_course">
                    <label for="active_course" class="active_course_label">Currently Active</label>
                </div>
                <div class="year_select_container" id="year_container" style="display: none;">
                    <div class="year_label">Year of Study: </div>
                    <div class="year_select_subcontainer">
                        <div class="year_select">
                            <input type="checkbox" name="1">
                            <div>1st</div>
                        </div>
                        <div class="year_select">
                            <input type="checkbox" name="2">
                            <div>2nd</div>
                        </div>
                        <div class="year_select">
                            <input type="checkbox" name="3">
                            <div>3rd</div>
                        </div>
                        <div class="year_select">
                            <input type="checkbox" name="4">
                            <div>4th</div>
                        </div>
                    </div>
                </div>
                <div class="submit_button">
                    <button type="submit" id="button_submit">Add Course</button>
                </div>
            </form>
        </div>
        
        <div class="subject_container">
            <div class="subject_heading">
                <div class="active_icon" style="visibility: hidden;"><i class="fas fa-check"></i></div>
                <div class="code_subject_heading">Course Code</div>
                <div class="name_subject_heading">Course Name</div>
                <div class="credits_heading">Credits</div>
                <!-- <div class="year_heading">Year</div> -->
                <div class="delete_icon" style="visibility: hidden;"><i class="fas fa-trash"></i></div>
            </div>
            <div class="no_courses">No Courses added</div>
            <% for(let course of courseList){ %>
                <div class="subject_row">
                    <div class="subject" id=<%= course._id %>>
                        <div class="active_icon"><input class="activity_state" type="hidden" value='<%=course.isActive%>'><i class="fas fa-check"></i></div>
                        <div class="code_subject"><%=course.code%></div>
                        <div class="name_subject"><%=course.name%></div>
                        <div class="credits"><%=course.credits%></div>
                        <!-- <div class="year_study">1,2,3,4</div> -->
                        <div class="delete_icon"><i class="fas fa-trash"></i></div>
                    </div>
                    <!-- <div class="offered_to_container">
                        <div class="active_icon" style="visibility: hidden;"><i class="fas fa-check"></i></div>
                        <div class="offered_to"><b>Offered to:</b> <% for(let i=0;i<course.offered_to.length;i++){ if(i!=0){ %>, <% } %><%= course.offered_to[i] %><% } %>&nbsp;&nbsp;&nbsp;<b>Year:</b>1,2,3</div>
                        <div class="delete_icon" style="visibility: hidden;"><i class="fas fa-trash"></i></div>
                    </div> -->
                    <div class="offered_to_container">
                        <div class="active_icon" style="visibility: hidden;"><i class="fas fa-check"></i></div>
                        <div class="offered_to">
                            <div><b>Offered to:</b> <% for(let i=0;i<course.offered_to.length;i++){ if(i!=0){ %>, <% } %><%= course.offered_to[i] %><% } %></div>
                            <div class="year_show <% if(!course.isActive){ %>hide<%}%>"><b>Year:</b>&nbsp;<% for(let i=0;i<course.year.length;i++){ if(i!=0){ %>, <% } %><%= course.year[i] %><% } %></div>
                        </div>
                        
                        <div class="delete_icon" style="visibility: hidden;"><i class="fas fa-trash"></i></div>
                    </div>
                </div>
            <%}%>
            
        </div>
    </div>
    <!-- -------------------------------YEAR SELECT---------------------------------------- -->
    <div class="new_year_container new_year_select_class" id="new_year_container_id" style="display: none;">
        <div class="new_year_label">Select Year of Study</div>
        <form class="year_form" action="#">
            <div class="new_year_select_container">
                <div class="new_year_select">
                    <input type="checkbox" name="1" >
                    <div>1st</div>
                </div>
                <div class="new_year_select">
                    <input type="checkbox" name="2" >
                    <div>2nd</div>
                </div>
                <div class="new_year_select">
                    <input type="checkbox" name="3" >
                    <div>3rd</div>
                </div>
                <div class="new_year_select">
                    <input type="checkbox" name="4" >
                    <div>4th</div>
                </div>
            </div>
            <div class="new_year_button_container">
                <button type="button" class="new_year_button">Submit</div>
            </div>    
        </form>        
    </div>
    <!-- ------------------------------------------------------------------------------------ -->

</div>
<script src="/js/courses_superuser.js"></script>