<link rel="stylesheet" type="text/css" href="/css/courses_superuser.css">
<div class="main">
    <%- include('navbar_superuser') %>
    <div id="black_screen"></div>
    <div class="main_content">
        <div class="main_heading">
            <div class="heading">Courses Offered</div>
        </div>
    </div>
    <div class="box_layout">
        <div class="add" id="addButton">
            <div class="add_icon"><i class="fas fa-plus"></i></div>
            <div class="add_content">Add </div>
        </div>
        <div class="add_admin">
            <form method="POST" action="#">
                <label class="subject_code_label">Subject Code:</label>
                <input type="text" name="subject_code" id="subject_code" required><br><br>
                <label class="subject_name_label">Subject Name:</label>
                <input type="text" name="subject_name" id="subject_name" required><br><br>
                <label class="subject_credits_label">Credits:</label>
                <input type="number" min="0" name="subject_credits" id="subject_credits" required><br>
                <div id="subject_select_container">
                    <div class="subject_select_label">Offered to:</div>
                    <div class="select_container">
                        <div class="subject_select">
                            <input type="checkbox" name="ECE">
                            <div>ECE</div>
                        </div>
                        <div class="subject_select">
                            <input type="checkbox" name="CSE">
                            <div>CSE</div>
                        </div>
                        <div class="subject_select">
                            <input type="checkbox" name="EE">
                            <div>EE</div>
                        </div>
                        <div class="subject_select">
                            <input type="checkbox" name="MECH">
                            <div>MECH</div>
                        </div>
                        <div class="subject_select">
                            <input type="checkbox" name="PROD">
                            <div>PROD</div>
                        </div>
                        <div class="subject_select">
                            <input type="checkbox" name="METTA">
                            <div>METTA</div>
                        </div>
                        <div class="subject_select">
                            <input type="checkbox" name="AERO">
                            <div>AERO</div>
                        </div>
                        <div class="subject_select">
                            <input type="checkbox" name="CIVIL">
                            <div>CIVIL</div>
                        </div>
                        <div class="subject_select">
                            <input type="checkbox" name="APPLIED SCIENCES">
                            <div>APPLIED SCIENCES</div>
                        </div>
                    </div>                    
                </div>
                <div id="checkbox_container">
                    <input name="isActive" type="checkbox" id="active_course">
                    <label for="active_course" class="active_course_label">Currently Active</label>
                </div>
                <div class="submit_button">
                    <button type="submit" id="button_submit">Add Course</button>
                </div>
            </form>
        </div>
        <div class="subject_container">
            <div class="subject_heading">
                <div class="active_icon" style="visibility: hidden;"><i class="fas fa-check"></i></div>
                <div class="code_subject_heading">Course Code</div>
                <div class="name_subject_heading">Course Name</div>
                <div class="credits_heading">Credits</div>
                <div class="delete_icon" style="visibility: hidden;"><i class="fas fa-trash"></i></div>
            </div>
            <div class="no_courses">No Courses added</div>
            <% for(let course of courseList){ %>
                <div class="subject" id="<%=course._id%>">
                    <div class="active_icon"><input class="activity_state" type="hidden" value='<%=course.isActive%>'><i class="fas fa-check"></i></div>
                    <div class="code_subject"><%=course.code%></div>
                    <div class="name_subject"><%=course.name%></div>
                    <div class="credits"><%=course.credits%></div>
                    <div class="delete_icon"><i class="fas fa-trash"></i></div>
                </div>
            <%}%>
            
        </div>
    </div>
</div>
<script src="/js/courses_superuser.js"></script>